<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner"
    style="background-image: url(./assets/images/img_bg_3.jpg)">
    <div class="overlay"></div>
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-left">
                <div class="row row-mt-15em">

                    <div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
                        <span class="intro-text-small">Don't be shy</span>
                        <h1>Get In Touch</h1>
                    </div>

                </div>

            </div>
        </div>
    </div>
</header>








<div class=" gtco-section container">
    <div class="row">
        <div class="col-md-7 mb-5">
            <div class="col-md-12 mb-2">
                <label class="sr-only" for="name">Name</label>
                <input type="text" id="name" class="form-control" placeholder="Your firstname">
            </div>

            <div class="col-md-12 mb-2">
                <label class="sr-only" for="email">Email</label>
                <input type="text" id="email" class="form-control" placeholder="Your email address">
            </div>

            <div class="col-md-12 mb-2">
                <label class="sr-only" for="subject">Subject</label>
                <input type="text" id="subject" class="form-control" placeholder="Your subject of this message">
            </div>

            <div class="col-md-12 mb-2">
                <label class="sr-only" for="message">Message</label>
                <textarea name="message" id="message" cols="30" rows="10" class="form-control"
                    placeholder="Write us something"></textarea>
            </div>

            <div class="form-group">
                <input type="submit" value="Send Message" class="btn btn-primary">
            </div>
        </div>




        <div class="  col-md-5 col-sm-12   animate-box">

            <div class=" gtco-contact-info">

                <ul>
                    <li class="address "> 767 5th Ave, <br> New York, NY 10153</li>
                    <li class="phone"><a>+1 212-336-1440</a></li>
                    <li class="email"><a>info@yoursite.com</a></li>
                </ul>
            </div>


        </div>



    </div>