<!-- Content Column -->
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
  <!-- Project Card Example -->
  <div class="card shadow mb-4">
      <div class="card-header py-3">
          <h1 class="display-6" style=" text-align:center">
            Airplanes Overview
          </h1>
      </div>
      <div class="card-body overflow-auto">
          <table class="table table-striped">
              <!--routerlink, used to render another component-->
             <thead>
                <tr>
                  <th style="text-align:center" scope="col">Model</th>
                  <th scope="col"></th>
                  <th style="text-align:center" scope="col">Year of fabrication</th>
                  <th scope="col"></th>
                  <th style="text-align:center" scope="col">N passengers</th>
                  <th scope="col"></th>
                  <th style="text-align:center" scope="col">Image</th>
                  <th scope="col"></th>
                  <th style="text-align:center" scope="col">Options</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let avion of collection| paginate: { itemsPerPage: 5, currentPage: p }">
                  <td style="text-align:center">{{avion.modelo}}</td>
                  <td></td>
                  <td style="text-align:center">{{avion.anho}}</td>
                  <td></td>
                  <td style="text-align:center">{{avion.cant_pasa}}</td>
                  <td></td>
                  <td style="text-align:center"><img height="50px" width="auto" [src]='avion.imagen'> </td>
                  <td></td>
                  <td style="text-align:center">
                    <a [routerLink]="['../../airplane/edit',avion._id]"><i class="fs-5 fas fa-edit text-primary" ></i></a>
                      <i *ngIf='avion.estado==0' (click)="estadoAvion(avion._id, avion)" 
                      class="fs-5 fas fa-arrow-circle-up text-success"></i>
                      <i *ngIf='avion.estado==1' (click)="estadoAvion(avion._id, avion)" 
                      class="fs-5 fas fa-arrow-circle-down text-danger"></i>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <pagination-controls class= "col-auto text-center" (pageChange)="p = $event"></pagination-controls>
      </div>
  </div>
</div>
