<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2"><!--offset leaves two columns to the left-->
            <div class="card">
                <div style="overflow:auto;" class="card-body text-left">
                    <span class="titulo">OVERVIEW OF PLANES</span>
                   
                    <table  class="table table-striped mt-5">  <!--routerlink, used to render another component-->
                        <thead>
                          <tr>
                            <th align="center" scope="col">model</th>
                            <th align="center" scope="col">year of fabrication</th>
                            <th align="center" scope="col">N passengers</th>
                            <th  scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td align="center">model 1</td>
                            <td align="center">year 1</td>
                            <td align="center">60</td>
                            <td>
                                <i class="fas fa-edit text-primary"></i>
                                <i class="fas fa-trash text-danger"></i>
                            </td>
                            <td>
                               
                            </td>
                            <td>
                               
                            </td>
                          </tr>
                        </tbody>
                      </table>
           
                </div>
            </div>
        </div>
    </div>
</div>
