<!-- Content Column -->
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
    <!-- Project Card Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h1 class="display-6" style=" text-align:center">
                Routes Overview
            </h1>
        </div>
        <div class="card-body overflow-auto">
            <table class="table table-striped">
                <!--routerlink, used to render another component-->
                <thead>
                    <tr>
                        <th style="text-align:center" scope="col">Start</th>
                        <th scope="col"></th>
                        <th style="text-align:center" scope="col">End</th>
                        <th scope="col"></th>
                        <th style="text-align:center" scope="col">Price</th>
                        <th scope="col"></th>
                        <th style="text-align:center" scope="col">State</th>
                        <th></th>
                        <th style="text-align:center" scope="col">Options</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ruta of rutas| paginate: { itemsPerPage: 5, currentPage: p }">
                        <td style="text-align:center">{{ruta.inicio.nombre}}</td>
                        <td></td>
                        <td style="text-align:center">{{ruta.destino.nombre}}</td>
                        <td></td>
                        <td style="text-align:center">{{ruta.precio_trayecto}}</td>
                        <td></td>
                        <td style="text-align:center">{{ruta.estado}}</td>
                        <td></td>
                        
                          <td style="text-align:center">
                     
                            <i [routerLink]="['../../route/edit',ruta._id]"class="fs-5 fas fa-edit text-primary" ></i>
                         
                        
                            
                            <i *ngIf='ruta.estado==0' (click)="actualizarEstado(ruta._id, ruta)" 
                            class="fs-5 fas fa-arrow-circle-up text-success"></i>
                            <i *ngIf='ruta.estado==1' (click)="actualizarEstado(ruta._id, ruta)" 
                            class="fs-5 fas fa-arrow-circle-down text-danger"></i>
                        </td>
                        
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr *ngIf="rutas==null || rutas.length==0">
                        <td style="text-align:center">- - -</td>
                        <td></td>
                        <td style="text-align:center">- - -</td>
                        <td></td>
                        <td style="text-align:center">- - -</td>
                        <td></td>
                        <td style="text-align:center">- - -</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls class="col-auto text-center" (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
  </div>