.nav-pills a {
    color:RGB(9, 198, 171)
}
.nav-pills a:hover{
    color:white ;
}
#fixed{
    position:fixed;
   z-index: 10000;
}


#submenu1 li a{
    color:white ;
}
#submenu1 li a:hover{
    color:rgb(255, 0, 0) ;
}
#submenu2 li a{
    color:white ;
}
#submenu2 li a:hover{
    color:rgb(255, 0, 0) ;
}
#submenu3 li a{
    color:white ;
}
#submenu3 li a:hover{
    color:rgb(255, 0, 0) ;
}