
.nav-pills a {
    color:RGB(9, 198, 171)
}

.nav-pills a:hover{
    color:white ;
}
#fixed{
    position:fixed;
   z-index: 10000;
}





ul  li .sub-link {

    color:white ;
}

ul  li .sub-link :hover{

    color:rgb(255, 0, 0) ;
}