
<ul class="nav nav-tabs" id="myTab" role="tablist" style="width:100%">
    <!-- SELECTOR DEL TAB-->

    <li class="nav-item" role="presentation">
        <!-- ESTE ES EL TAB 1 -->
        <button class="nav-link active" id="Informacion-tab" data-bs-toggle="tab" data-bs-target="#Informacion"
            type="button" role="tab" aria-controls="Informacion" aria-selected="true">Step-1</button>
    </li>

    <li class="nav-item" role="presentation">
        <!-- ESTE ES EL TAB 2 -->
        <button class="nav-link" id="Caracteristicas-tab" data-bs-toggle="tab" data-bs-target="#Caracteristicas"
            type="button" role="tab" aria-controls="Caracteristicas" aria-selected="false">Step-2</button>
    </li>

    <li class="nav-item" role="presentation">
        <!-- ESTE ES EL TAB 3 -->
        <button class="nav-link" id="Crear-tab" data-bs-toggle="tab" data-bs-target="#Crear" type="button" role="tab"
            aria-controls="Crear" aria-selected="false">End</button>
    </li>

</ul>

<div class="">
    <form enctype="multipart/form-data" class="row g-3 needs-validation was-validated" novalidate>
        <div class="tab-content" id="myTabContent">

            <div class="tab-pane fade show active" id="Informacion" role="tabpanel" aria-labelledby="Informacion-tab">
                <h1 class="display-6" style="margin-top:25px; text-align:center">
                    Información Personal
                </h1>
                <hr class="my-4">

                <div class="row">
                    <div class="col-sm-12 col-lg-6 mb-3">
                        <label for="basic-url" class="form-label">Nombre y apellidos</label>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" placeholder="Nombre" class="form-control" required>
                                <input type="text" placeholder="Apellidos" class="form-control" required>
                                <div class="invalid-feedback">
                                    Se requiere el nombre y apellidos!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6 mb-3">
                        <div class="form-group">
                            <label for="basic-url" class="form-label">Correo electronico</label>
                            <div class="col-lg-12">
                                <input type="email" class="form-control" required />
                                <div class="invalid-feedback">
                                    Se requiere correo electronico!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-6 mb-3">
                        <div class="form-group">
                            <label for="basic-url" class="form-label">Fecha nacimiento</label>
                            <div class="col-lg-12">
                                <input type="date" class="form-control" required />
                                <div class="invalid-feedback">
                                    Se requiere fecha de nacimiento!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6 mb-3">
                        <div class="form-group">
                            <label for="basic-url" class="form-label">Direccion</label>
                            <div class="col-lg-12">
                                <input type="text" class="form-control" required />
                                <div class="invalid-feedback">
                                    Se requiere su direccion!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-6 mb-3">
                        <div class="form-group">
                            <label for="basic-url" class="form-label">Telefono de trabajo</label>
                            <div class="col-lg-12">
                                <input type="tel" class="form-control" pattern="\([0-9]{3}\) [0-9]{4}[ - ][0-9]{4}" placeholder="(###)####-##-##" required />
                                <div class="invalid-feedback">
                                    Se requiere el telefono de trabajo!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6 mb-3">
                        <div class="form-group">
                            <label for="basic-url" class="form-label">Telefono de celular</label>
                            <div class="col-lg-12">
                                <input type="tel" class="form-control" pattern="\([0-9]{3}\) [0-9]{4}[ - ][0-9]{4}" placeholder="(###)####-##-##" required />
                                <div class="invalid-feedback">
                                    Se requiere el telefono de trabajo!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <br />

            </div> <!-- fin del TAB 1 -->

            <div class="tab-pane fade " id="Caracteristicas" role="tabpanel" aria-labelledby="Caracteristicas-tab">
                <h1 class="display-6" style="margin-top:25px; text-align:center">
                    Informacion de usuario
                </h1>
                <hr class="my-4">

                <div class="row">
                    <div class="col-sm-12 col-lg-6 mb-3">
                        <div class="form-group">
                            <div class="col-12">
                                <label for="basic-url" class="form-label">Usuario</label>
                                <input type="text" class="form-control" required />
                                <div class="invalid-feedback">
                                    Se requiere un nombre de usuario unico!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6 mb-3">
                        <div class="form-group">
                            <div class="col-12">
                                <label for="basic-url" class="form-label">Contrasenia</label>
                                <div class="input-group">
                                    <input type="text" placeholder="Contrasenia 1" class="form-control" required>
                                    <input type="text" placeholder="Contrasenia 2" class="form-control" required>
                                    <div class="invalid-feedback">
                                        Las contrasenias deben ser igual!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3" style="max-width: 100%; border:0px">
                    <div class="row no-gutters">
                        <div class="col-xl-3 col-lg-3 col-md-4 col-xs-2 mb-4">
                            <div *ngIf="previsualizacion!='' ">
                                <img class="img-thumbnail img-fluid" [src]="previsualizacion" />
                            </div>
                            <img *ngIf="previsualizacion =='' " id="imagenCapturada" class="img-thumbnail img-fluid"
                                src="/assets/images/imagen-no-disponible.png" />
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Favor seleccionar una imagen de perfil</h5>
                                <p class="card-text">Con el boton colocado debajo, puede seleccionar una imagen de su
                                    ordenador</p>
                                <br />
                                <div class="form-group">
                                    <div class="mb-3">
                                        <input (change)="obtenerImagen($event)" class="form-control form-control-lg"
                                            id="formFileSm" type="file" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <br />

            </div> <!-- fin del TAB 2 -->

            <div class="tab-pane fade " id="Crear" role="tabpanel" aria-labelledby="Crear-tab">
                <h1 class="display-6" style="margin-top:25px; text-align:center">
                    Crear
                </h1>
                <hr class="my-4">
                <br />
                <p class="lead" style=" text-align: center; margin-top:20px">
                    ¡ATENCION! Se guardara el USUARIO especificado en la Base de Datos
                </p>

                <input type="submit" value="Registrar Avion" class="btn btn-primary"
                    style=" text-align: center; margin-left: 50%; transform: translateX(-50%); margin-top:60px" />
                <br />

            </div> <!-- fin del TAB 3 -->

        </div> <!-- fin del tb content-->
    </form> <!-- fin del form-->
</div> <!-- fin del row principal-->




<script type="text/javascript">
    //Alv-> PARECE NO FUNCIONAR EN ANGULAR 12/10/2021
    //JP-> Aun no funciona. Fecha 13/10/2021
    function esElSubmit() {
        'use strict';

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation');
        console.log("funciona");
        // Loop over them and prevent submission
        Array.prototype.slice.call(forms).forEach((form) => {
            form.addEventListener('submit', (event) => {
                if (!form.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    }

</script>