<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner"
    style="background-image: url(./assets/images/aeropuerto.jpg)">
    <div class="overlay"></div>
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-left">
                <div class="row row-mt-15em">
                    <!-- <div class="contenido">
                        <div class="contenido__container">
                            <p class="contenido__container__text">
                                About
                            </p>
                            <ul class="contenido__container__list">
                                <li class="contenido__container__list__item">Our Team!</li>
                                <li class="contenido__container__list__item">Our Passion!</li>
                                <li class="contenido__container__list__item">Our Product!</li>
                                <li class="contenido__container__list__item">US!</li>
                            </ul>
                        </div>
                    </div> -->
                    <div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
                        <span class="intro-text-small">About us?</span>
                        <h1>Meet the History</h1>
                    </div>

                </div>

            </div>
        </div>
    </div>
</header>

<div class="gtco-section container">

    <div class="col-md-12 col-md-offset-2 text-center gtco-heading animate-box">
        <h2>Passion & Product</h2>
        <p>
            Since we were little, the three of us had a huge passion for airplanes, we used to play with
            Lego airplanes and scale replicas of real airplanes pretending we had an airline business. In
            the year 2021 as a result of the pandemic we received a large investment from an Arab Sheikh to
            make our dreams come true and through software engineering we managed to set up the number one
            airline in Central America. This is our story, are you ready to be part of it?
        </p>
    </div>

    <div class="col-md-12 col-md-offset-2 text-center gtco-heading animate-box">
        <h2>Our Team</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            
            <div class="col animate-box">
                <div class="card h-100 w-35">
                    <h3 class="card-header" style="text-align:center">Student</h3>
                    <img src="../../../assets/images/foto-perfil-jpaul.jpeg" />
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">John P. Alfaro Carballo</li>
                        <li class="list-group-item">Software engineer</li>
                    </ul>
                    <div class="card-footer text-muted">
                        Updated 17/10/2021
                    </div>
                </div>
            </div>

            <div class="col animate-box">
                <div class="card h-100 w-35">
                    <h3 class="card-header" style="text-align:center">Student</h3>
                    <img src="../../../assets/images/foto-perfil-diego.jpg" />
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Juan D. Araya Chaves</li>
                        <li class="list-group-item">Software engineer</li>
                    </ul>
                    <div class="card-footer text-muted">
                        Updated 17/10/2021
                    </div>
                </div>
            </div>

            <div class="col animate-box">
                <div class="card h-100 w-35">
                    <h3 class="card-header " style="text-align:center">Student</h3>
                    <img src="../../../assets/images/foto-perfil-alvaro.jpg" />
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Álvaro Rodríguez Barrantes</li>
                        <li class="list-group-item">Software engineer</li>
                    </ul>
                    <div class="card-footer text-muted">
                        Updated 17/10/2021
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>